.pagination {
  display: inline-flex;
  list-style-type: none;
  margin: 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0;
  overflow: hidden;

  .pageItem {
    display: flex;

    .pageLink {
      padding: 0.75rem;
      text-decoration: none;
      min-width: 2.5rem;
      text-align: center;
      box-shadow: none;
      color: var(--color-text);
      border-color: var(--color-primary);
      font-weight: 500;
      font-size: var(--font-size-small);

      &.active {
        pointer-events: none;
        color: var(--color-primary-text);
        background-color: var(--color-primary);
      }

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-primary-text);
        filter: brightness(120%);
      }
    }
  }
}
