.table {
  border: 1px solid var(--color-border);
  border-collapse: collapse;
  width: 100%;
  font-size: var(--font-size-normal);

  .head {
    background-color: #f2f2f2;
    font-weight: 600;
  }

  .row {
    border: 1px solid var(--color-border);

    &Selected {
      background-color: color-mix(in srgb, var(--color-primary) 10%, white);

      &:hover {
        background-color: color-mix(in srgb, var(--color-primary) 15%, white);
      }
    }

    &:hover:not(.rowSelected) {
      background-color: #f0f0f0bf;
    }
  }

  .rowSpacing:last-child {
    display: none;
  }

  .data {
    border: 1px solid var(--color-border);
    padding: 0.5rem 0.75rem;
  }
}
