.selectContainer {
    display: flex;
    position: relative;

    &.disabled {
        pointer-events: none;
        filter: brightness(90%);
    }

    .selectControl {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 0.5em 0.8em;
        border: 1px solid rgba(34, 36, 38, 0.15);
        border-radius: var(--border-radius-small);

        &:hover,
        &.selected {
            border-color: var(--color-input-outline);
        }

        .input {
            width: 100%;
            padding: none;
            border: none;
            outline: none;
            color: inherit;
        }

        .selectValue {
            display: flex;
            position: relative;
            flex: 1;
            flex-direction: row;
            align-items: center;

            .input {
                position: absolute;
                padding: 0;
                left: 0;
            }

            .value {
                flex: 1;
            }
        }

        .selectIndicator {
            margin-left: 0.5em;

            .clear,
            .loading {
                animation: spin infinite 2s linear;
                margin: 0 0.5em;
            }
        }
    }

    .placeholder {
        color: lightgray;
    }

    .selectOptions {
        position: absolute;
        top: calc(100% + 2px);
        max-height: 12em;
        overflow-y: scroll;
        right: 0;
        left: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        background-color: var(--color-background-alt);
        box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 4px 11px;
        border-radius: var(--border-radius-small);
        z-index: 1;
    }

    .selectOptionsUp {
        top: unset;
        bottom: calc(100% + 2px);
    }

    .selectOption {
        cursor: pointer;
    }
}

.errorText {
    color: var(--color-danger);
    font-size: 12px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
