.option {
  padding: 4px 8px;

  &:hover {
    background-color: darkgrey;
    color: var(--color-primary-text);
  }

  &.selected {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
  }
}
